<tr>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
</tr>
<% listings.forEach(function(item) { %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.Location %></td>
    <td><%= item.Description %></td>
  </tr>
<%});%>