<!-- views/pages/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <style type="text/css">
    .container {
        width: 400px;}
    </style>
</head>
<body class="container">


    <div class="container">
    <form class="form-signin" role="form" id="signup" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">User Name</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="User Name" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
    
        <button class="btn btn-lg btn-primary btn-block signup" type="submit">Sign up</button>
      </form>

    </div>
    <footer>
        <% include partials/footer %>
    </footer>

    <script type="text/javascript" src="/javascripts/signup.js"></script>

    
</body>
</html>