.hidden{display: none;}
header{height:50px;margin-top:10px;}
li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.heading{font-size: 18px;font-weight: bold;color: #0aa;font-style: italic;}
.modal-body input{width:450px;}
.link-name{margin-left:45px;width:400px;}
.child.active{color:red;}
.navigation{margin-left:100px;}
#login-page, #home-page, #signup-page{display: none;}